<h1>Hello world</h1>

<div *ngIf="false">

  <p>{{ message }}</p>
  <p [style.color]="fontColor">
    You can set the color in the component.
  </p>
  <button type="button" [disabled]="isDisabled" (click)="sayMessage()">Trigger alert message</button>

  <br/><br/>
  Like Angular?:
  <input title="Checkbox of liking Angular" type="checkbox" [(ngModel)]="like" (ngModelChange)="likeChanged($event)"/>

  <hr/>

  <table>
    <tr>
      <td>
        <label for="firstName">First Name:</label>
      </td>
      <td>
        <input title="First Name" [(ngModel)]="firstName" id="firstName"/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="lastName">Last Name:</label>
      </td>
      <td>
        <input title="Last Name" [(ngModel)]="lastName" id="lastName"/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="email">Email:</label>
      </td>
      <td>
        <input title="Email" [(ngModel)]="email" id="email"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="button" (click)="save()">Save</button>
      </td>
    </tr>
  </table>

  <hr/>

  <div [ngClass]="currentClasses">
    This div is initially saveable, unchanged, and special
  </div>

  <p [hidden]="!isSaved">
    {{ firstName }}<br/>{{ lastName }}<br/>{{ email }}
  </p>

  <hr/>

  <fieldset><h4>NgModel examples</h4>
    <p>Current item name: {{currentItem.name}}</p>
    <p>
      <label for="without">without NgModel:</label>
      <input [value]="currentItem.name" (input)="currentItem.name=getValue($event)" id="without">
    </p>
    <p>
      <label for="example-ngModel">[(ngModel)]:</label>
      <input [(ngModel)]="currentItem.name" id="example-ngModel">
    </p>
    <p>
      <label for="example-change">(ngModelChange)="...name=$event":</label>
      <input [ngModel]="currentItem.name" id="example-change">
    </p>
    <p>
      <label for="example-uppercase">(ngModelChange)="setUppercaseName($event)"
        <input [ngModel]="currentItem.name" (ngModelChange)="setUppercaseName($event)" id="example-uppercase">
      </label>
    </p>
  </fieldset>

</div>

<hr/>

<div>
  <app-directives></app-directives>
</div>
 
 
 
 