<h2>Manage Products</h2>

<div class="flex">

    <div>

        <!-- Action buttons -->
        <!-- NEW button -->
        <button (click)="onCreateNewProduct()">Add Product</button>


        <!-- Product stats -->
        <app-stats *ngIf="products"></app-stats>


        <!-- List of products -->
        <ul>
            <li *ngFor="let product of products">
                {{ product.name }}

                <button (click)="editProduct(product)">Edit</button>
            </li>
        </ul>

    </div>

    <div>

        <!-- Product details -->
        <app-product-details *ngIf="selectedProduct && !isEditProduct" [selectedProduct]="selectedProduct"></app-product-details>


        <!-- <app-product-new> -->
        <app-product-new *ngIf="isCreateProduct" (newProductEmitter)="onSaveNewProduct($event)"></app-product-new>
        <!-- SAVE button ==> @Output -->


        <app-product-edit *ngIf="isEditProduct" [editProduct]="selectedProduct" (updateProductEmitter)="onUpdateProduct($event)"></app-product-edit>


    </div>

</div>