/* MAIN */
.flex {
  display: flex;
}

/* PRODUCT GALLERY */
.product-gallery {
  width: 700px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-gallery product-item {
  flex: 1;
}

.product-item img {
  width: 100px;
}

/* PRODUCT LIST */
.product-list {
  width: 700px;
}

.product-line {
  width: 100%;
}

.product-line div {
  display: inline-block;
  line-height: 1.5em;
}

.product-line div:nth-child(1) {
  width: 60%;
}

.product-line div:nth-child(2) {
  width: 10%;
}

.product-line div:nth-child(3) {
  width: 30%;
}

/* SHOPPING CART */
.title-shopping-cart span {
  font-size: 1.5em;
}

.product-line-in-cart {
  text-decoration-line: line-through;
}

/* MUI - table */
.demo-table {
  width: 100%;
}

.mat-column-id {
  width: 50px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  font-size: 14px;
}

.mat-column-name {
  padding-left: 200px;
  font-size: 14px;
  text-align: left;
}

.mat-column-price {
  width: 50px;
  text-align: left;
  font-size: 14px;
}

.mat-column-actions {
  width: 50px;
  text-align: center;
  text-align: left;
  font-size: 14px;
}

.list-view {
  margin: 5px;
}

/*MUI - buttons*/
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

button {
  margin: 8px 8px 8px 0;
  color: blue;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
