/* MAIN */
.flex {
    display: flex;
}

.flex div:nth-child(1) {
    flex-basis: 40%;
}


/* PRODUCT GALLERY */
.product-gallery {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-gallery product-item {
    flex: 1;
}

.product-item img {
    width: 100px;
}


/* PRODUCT LIST */
.product-list {
    width: 700px;
}

.product-line {
    width: 100%;
}

.product-line div {
    display: inline-block;
    line-height: 1.5em;
}

.product-line div:nth-child(1) {
    width: 60%;
}

.product-line div:nth-child(2) {
    width: 10%;
}

.product-line div:nth-child(3) {
    width: 30%;
}


/* SHOPPING CART */
.title-shopping-cart span {
    font-size: 1.5em;
}

.product-line-in-cart div {
    text-decoration-line: line-through;
}