<div *ngIf="selectedProduct">
    <h2>{{ selectedProduct.name }}</h2>
    <div><span>ID:</span> {{ selectedProduct.id }}</div>
    <div><span>Name:</span> {{ selectedProduct.name }}</div>
    <div><span>Price:</span> {{ selectedProduct.price }}</div>
    <div class="buttons">
        <button *ngIf="!isProductInCart" (click)="addToCart(selectedProduct.id!)">Add To Cart</button>
        <button *ngIf="isProductInCart" (click)="removeFromCart(selectedProduct.id!)">Remove From Cart</button>
    </div>
</div>